[submodule "stream-client"]
	path = stream-client
	url = git@bitbucket.org:karthik00/isslive-stream-client.git
[submodule "rest-api"]
	path = rest-api
	url = git@bitbucket.org:karthik00/isslive-rest-api.git
[submodule "limit-notification-engine"]
	path = limit-notification-engine
	url = git@bitbucket.org:karthik00/isslive-limit-notification-engine.git
[submodule "limit-notification-webapp"]
	path = limit-notification-webapp
	url = git@bitbucket.org:karthik00/isslive-notification-system-webapp.git
